.header {
    background-color: gray;
    text-align: left;
}

.imagens_home {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.card {
    margin: 40px;
    width: 18rem;
}